# Data Preparation

Mount our google drive before we can access any files stored on our google drive.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

This programme is to clean the data from the input file

In [ ]:
import pandas as pd
import numpy as np

## Scenario 1 
non-numeric characters are nullified

In [ ]:
file_path = "/content/drive/My Drive/Colab Notebooks/IPRAD/dirty_data.csv"
df = pd.read_csv(file_path)

NameError: ignored

In [ ]:
#Create a duplicate for dataframe df
df_Ex1= df.copy()
df_Ex1.head()

NameError: ignored

### Rule 1
The following code will set all non-numeric values from the individual columns to Nan

In [ ]:
df_Ex1['floor_size'] = pd.to_numeric(df_Ex1['floor_size'], errors="coerce")
df_Ex1.head()

**Add the codes required to null all non-numeric values**

In [ ]:
df_Ex1['households'] = pd.to_numeric(df_Ex1['households'], errors="coerce")
df_Ex1['median_income'] = pd.to_numeric(df_Ex1['median_income'], errors="coerce")
df_Ex1['median_house_value'] = pd.to_numeric(df_Ex1['median_house_value'], errors="coerce")

In [ ]:
df_Ex1.head()

### Rule 2
The following code will change null value to the mean value of the column

In [ ]:
df_mean=df_Ex1.mean()
df_Ex1.loc[df_Ex1['floor_size'].isnull(),'floor_size'] = df_mean['floor_size']

In [ ]:
df_Ex1.head()

**Add the code to change the NaN values to the means of the respective columns**

In [ ]:
# Answer to Scenario 1 Rule 2: Add the codes required to maximize all null values
df_Ex1.loc[df_Ex1['households'].isnull(),'households'] = df_mean['households']
df_Ex1.loc[df_Ex1['median_income'].isnull(),'median_income'] = df_mean['median_income']
df_Ex1.loc[df_Ex1['median_house_value'].isnull(),'median_house_value'] = df_mean['median_house_value']

In [ ]:
df_Ex1.head()

## Scenario 2
non-numeric characters are dropped

In [ ]:
file_path = "/content/drive/My Drive/Colab Notebooks/IPRAD/dirty_data.csv"
df = pd.read_csv(file_path)

In [ ]:
#Create a duplicate for dataframe df
df_Ex2 = df.copy()
df_Ex2.head()

  floor_size households median_income median_house_value
0         AA        126          8.33             452600
1       7099       1138           8.3             358500
2       1467        177            CC
3       1274         DD          5.64             341300
4       1627                     3.85

### Rule 1
Remove all rows that have non-numeric values

In [ ]:
df_Ex2 = df_Ex2.drop(df_Ex2[df_Ex2['floor_size'].str.isalpha()== True].index)

In [ ]:
df_Ex2.head()

  floor_size households median_income median_house_value
1       7099       1138           8.3             358500
2       1467        177            CC
3       1274         DD          5.64             341300
4       1627                     3.85
5        919        193          4.04             269700

**Add the codes to drop all non-alphanumeric characters**

In [ ]:
df_Ex2 = df_Ex2.drop(df_Ex2[df_Ex2['households'].str.isalpha()== True].index)
df_Ex2 = df_Ex2.drop(df_Ex2[df_Ex2['median_income'].str.isalpha()== True].index)
df_Ex2 = df_Ex2.drop(df_Ex2[df_Ex2['median_house_value'].str.isalpha()== True].index)

In [ ]:
df_Ex2.head()

  floor_size households median_income median_house_value
1       7099       1138           8.3             358500
4       1627                     3.85
5        919        193          4.04             269700
6       2535        514          3.66             299200
7       3104        647          3.12             241400

The following code replaces black values with Nan

In [ ]:
df_Ex2['floor_size'] = pd.to_numeric(df_Ex2['floor_size'], errors="coerce")

In [ ]:
df_Ex2.head()

   floor_size households median_income median_house_value
1        7099       1138           8.3             358500
4        1627                     3.85
5         919        193          4.04             269700
6        2535        514          3.66             299200
7        3104        647          3.12             241400

**Add the code where blank values are nullify**

In [ ]:
df_Ex2['households'] = pd.to_numeric(df_Ex2['households'], errors="coerce")
df_Ex2['median_income'] = pd.to_numeric(df_Ex2['median_income'], errors="coerce")
df_Ex2['median_house_value'] = pd.to_numeric(df_Ex2['median_house_value'], errors="coerce")

In [ ]:
df_Ex2.head()

   floor_size  households  median_income  median_house_value
1        7099      1138.0           8.30            358500.0
4        1627         NaN           3.85                 NaN
5         919       193.0           4.04            269700.0
6        2535       514.0           3.66            299200.0
7        3104       647.0           3.12            241400.0

### Rule 2
The following code will change null value to the mean value of the column

In [ ]:
df_mean=df_Ex2.mean()
df_Ex2.loc[df_Ex2['floor_size'].isnull(),'floor_size'] = df_mean['floor_size']

In [ ]:
df_Ex2.head()

   floor_size  households  median_income  median_house_value
1      7099.0      1138.0           8.30            358500.0
4      1627.0         NaN           3.85                 NaN
5       919.0       193.0           4.04            269700.0
6      2535.0       514.0           3.66            299200.0
7      3104.0       647.0           3.12            241400.0

**Add the code to change the NaN values to the means of the respective columns**

In [ ]:
df_Ex2.loc[df_Ex2['households'].isnull(),'households'] = df_mean['households']
df_Ex2.loc[df_Ex2['median_income'].isnull(),'median_income'] = df_mean['median_income']
df_Ex2.loc[df_Ex2['median_house_value'].isnull(),'median_house_value'] = df_mean['median_house_value']

In [ ]:
df_Ex2.head()

   floor_size   households  median_income  median_house_value
1      7099.0  1138.000000           8.30       358500.000000
4      1627.0   499.598663           3.85       206823.796327
5       919.0   193.000000           4.04       269700.000000
6      2535.0   514.000000           3.66       299200.000000
7      3104.0   647.000000           3.12       241400.000000

## Scenario 3
Split the ‘Cleaned’ data - [TO CONSIDER REMOVING]

In [ ]:
df_Example = df_Ex2.copy()

In [ ]:
train, validate, test = np.split(df_Example.sample(frac=1), [int(.7*len(df_Example)), int(.9*len(df_Example))])

In [ ]:
# Create the data frame
df_train = pd.DataFrame(train)
df_validate = pd.DataFrame(validate)
df_test = pd.DataFrame(test)

In [ ]:
df_train.head()

       floor_size  households  median_income  median_house_value
15342      2204.0       462.0           3.68            125600.0
13659      1658.0       304.0           5.14            136700.0
7151       2006.0       463.0           1.80            158800.0
4410       2050.0       418.0           3.56            210000.0
14925      2346.0       382.0           5.52            156300.0

In [ ]:
df_validate.head()

       floor_size  households  median_income  median_house_value
12313       489.0        74.0           6.27            345500.0
10959      1893.0       426.0           3.71            163000.0
3905       4249.0       909.0           4.13            229100.0
16419       226.0        38.0           2.90            125000.0
16935      6394.0      1496.0           3.49            500001.0

In [ ]:
df_test.head()

       floor_size  households  median_income  median_house_value
18969      3899.0       779.0           3.21            120400.0
20165      2849.0       532.0           2.69            230800.0
7990       2925.0       642.0           2.38            160800.0
5122       1586.0       339.0           4.49            140400.0
17375      3518.0       572.0           3.62            151400.0

Write data to files

In [ ]:
file_path = "/content/drive/My Drive/Colab Notebooks/IPRAD/scenario_train.csv"
df_train.to_csv(file_path)

In [ ]:
file_path = "/content/drive/My Drive/Colab Notebooks/IPRAD/scenario_validate.csv"
df_validate.to_csv(file_path)

In [ ]:
file_path = "/content/drive/My Drive/Colab Notebooks/IPRAD/scenario_test.csv"
df_test.to_csv(file_path)